 <div class="sidebar" id="sidebar">
        <button class="sidebar-toggle" id="sidebar-toggle">&#9776;</button>
        <ul class="nav-links">
            <li><a href="#" id="home-link">Home</a></li>
            <li><a href="#" id="training-link">Training</a></li>
            <li><a href="#" id="competitions-link">Competitions</a></li>
            <li><a href="#" id="health-link">Health</a></li>
            <li><a href="#" id="teams-link">Teams</a></li>
            <li><a href="#" id="profile-link">Profile</a></li>
            <li><a href="#" id="connections-link">Connections</a></li>
            <li><a href="#" id="logout-link">Logout</a></li>
            

        </ul>
    </div>